<footer id="footer">
  <div class="footer-info">
    <div class="footer-column">
      <h3>Contact Info</h3>
      <ul>
        <a href="#"><li>Email</li></a>
        <a href="#"><li>Phone</li></a>
        <a href="#"><li>Address</li></a>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Quick Links</h3>
      <ul>
        <a href="/terms"><li>Terms and Conditions</li></a>
        <a href="/projects"><li>Projects</li></a>
        <a href="#"><li>Get a Quote</li></a>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Our Services</h3>
      <ul>
        <a href="#"><li>Custom Design</li></a>
        <a href="#"><li>Builds</li></a>
        <a href="#"><li>Products</li></a>
      </ul>
    </div>
  </div>
  <h4 class="copyright">Copyright © 2021 Blockscapes LLC</h4>

</footer>
