
<header id="home">
  <nav>
    <div class="mobile-header">
      <div class="mobile-logo">
        <h2>Blockscapes RVA</h2>
        <h4>Custom Hardscapes Service</h4>
      </div>

      <div class="mobile-icon" onclick="openNav()">
        <i class="fas fa-archway"></i>
      </div>
    </div>

    <div id="nav-mobile" class="overlay overlay-content">
      <ul>
        <div>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/" onclick="closeNav()">
            <li>Home</li>
          </a>
          <a href="/about" onclick="closeNav()">
            <li>About</li>
          </a>
          <a href="/services" onclick="closeNav()">
            <li>Services</li>
          </a>
          <a href="/projects" onclick="closeNav()">
            <li>Projects</li>
          </a>
          <a href="/contact" onclick="closeNav()">
            <li>Contact</li>
          </a>
        </div>
      </ul>
    </div>

    <div class="nav-desktop">
      <div class="logo">
        <h2>Blockscapes RVA</h2>
        <h4>Custom Hardscapes Service</h4>
      </div>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/about">
          <li>About</li>
        </a>
        <a href="/services">
          <li>Services</li>
        </a>
        <a href="/projects">
          <li>Projects</li>
        </a>
        <a href="/contact">
          <li>Contact</li>
        </a>

      </ul>
      <button class="quote-button" type="button" name="button">Get a Quote</button>
    </div>
  </nav>
</header>
