/* Universal */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

li:hover {
  color: #40bf4f;
}

h1 {font-size: 2.2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1rem;
     font-weight: 100;}
p {
  font-size: 1rem;
  line-height: 2;}

button {
  margin-top: -15px;
  padding: 2rem 2rem;
  background-color: #40bf4f;
  color: white;
  border-radius: 50px;
  border-color: #40bf4f;
  border-width: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button:hover {
  background-color: #77e684;
}

section {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
}
/* Header and Nav */

nav {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  font-weight: 400;
  background-color: white;
}

.logo {
  margin-left: 3%;
  font-size: 1.2rem;
  max-width: fit-content;
  line-height: .5;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  margin-top: -10px
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 30px;
}

.header-container {
  background-image: url(pics/OutdoorFireplace-bscapes.jpg);
  height: 850px;
}

/* Sections */

.service-section {
  display: flex;
  flex-direction: column;
  background-color: #f3f2ed;
  color: #0d3c00;
}

.service-header {
  display: flex;
  align-content: space-around;
  align-items: baseline;
  border-bottom: 1px solid;
  border-color: #c9e6cb;
}

.service-header h1 {
  flex: 2;
  width: 100%;
}

.view-all {
  margin-right: 40%;
  color: #40bf4f;
}

.service-detail {
display: flex;
justify-content: space-around;
}

.service-column {
  flex: 1;
  margin: 2%;
}

.service-column h2, h3 {
  color: #40bf4f;
  font-weight: 100;
}

/* About */
.about-section {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.about-image {
  flex: 3;
}

.about-image img {
  max-width: 1000px;
}

.about-detail {
  flex: 2;
}

.about-detail button {
  margin: 30px;
}

/* Projects */

 .projects-section {
   display: flex;
   flex-direction: column;
   background-color: #f3f2ed;
   color:#0d3c00;
 }

.projects-heading {
  display: flex;
}

.projects-title {
  flex: 2;
  font-weight: 100;
}

.projects-title h2 {
  font-weight: 200;
}

.projects-subtitle {
  flex: 2;
margin-left: auto;
margin-right: auto;
}

.projects-subtitle h4 {
  font-weight: 100;
}

.projects-subtitle {
  /* color: #40bf4f; */
}

.projects-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

 .projects-column img {
   max-width: 550px;
 }

/* Footer */
 footer {
   display: flex;
   flex-direction: column;
   padding: 5% 0;
   background-color: #0d3c00;
   color: ivory;
 }

.footer-info {
  display: flex;
}

.footer-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-column h3 {
  padding-left: 40px;
  align-self: center;
}

 .footer-column ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style: none;
 }

 .footer-column li {
   font-size: 1.5rem;
   align-self: center;
   line-height: 2;
 }

 .copyright {
   position: relative;
   margin: 200px auto 0;
   font-weight: 100;
 }
