<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<div>
  <img src="pics/OutdoorFireplace-bscapes.jpg" alt="" class="header-container">

</div>
<section id="services" class="service-section">
  <h2>Services</h2>
  <div class="service-header">
    <h1>Build From Nature</h1>
    <p class="view-all">View all services</p>
  </div>
  <div class="service-detail">
    <div class="service-column">
      <h2>01.</h2>
      <h1>Patios & Walkways</h1>
      <p>Hardscape design includes inanimate objects such as retaining walls, walkways, grills, and fire pits. Natural elements such as flagstone and granite, or man-made elements like Concrete Pavers can be thoughtfully combined to enhance any
        commercial or residential landscape.</p>
      <h3>Read More</h3>
    </div>
    <div class="service-column">
      <h2>02.</h2>
      <h1>Firepits & Fireplaces</h1>
      <p>A fire pit is the focal point of any outdoor entertaining area, as people will naturally gravitate towards it. This means you must be very mindful of how and where in your yard it is set up. Fire pits are functional and are a great
        centerpiece for your next outdoor project.</p>
      <h3>Read More</h3>
    </div>
    <div class="service-column">
      <h2>03.</h2>
      <h1>Outdoor Kitchens</h1>
      <p>Blockscapes installs dozens of outdoor kitchens every year. We work on simple built-in grill counters to fully custom outdoor kitchen pavilions that can host your largest party or cookout, even in inclement weather. </p>
      <h3>Read More</h3>
    </div>
  </div>


</section>

<section id="about" class="about-section">
  <div class="about-image">
    <img src="pics/outdoorPatio.jpg" alt="">
  </div>
  <div class="about-detail">
    <h1>We love to get Stoned!</h1>
    <h3>Get it?</h3>
    <p>But seriously, we are all about digging in and making something solid that will really rock your world.</p>
    <button type="button" name="button">Read More</button>
  </div>

</section>

<%-include("partials/footer")-%>
