<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section id="services" class="service-section">
  <h2>Services</h2>
  <div class="service-page-detail">
    <div class="service-page-column">
      <h2>01.</h2>
      <div class="">
        <h1>Patios & Walkways</h1>
        <p>Using natural elements such as flagstone and granite, or man-made elements like Concrete Pavers, walkways and patios can be thoughtfully transformed into your very own “yellow brick road”…</p>
      </div>
      <div>
        <img class="service-page-image" src="/pics/outdoorPatio.jpg" alt="outdoor-patio">
      </div>
    </div>
    <div class="service-page-column">
      <h2>02.</h2>
      <div class="">
        <h1>Firepits & Fireplaces</h1>
        <p>Imagine roasting marshmallows on cool fall evenings, or enjoying a spicy winter cocktail with friends. Even on those cooler summer nights, a fire can be the perfect place to enjoy a beer, and take some time for yourself…</p>
      </div>
      <div>
        <img class="service-page-image" src="/pics/Patio-bscapes.jpg" alt="outdoor-patio">
      </div>
      </div>
    <div class="service-page-column">
      <h2>03.</h2>
      <div class="">
        <h1>Outdoor Kitchens</h1>
        <p>Bring the party outside, and give the grill-masters something magnificent to stand around! From simple countertop spaces to fit your grill, to fully custom outdoor kitchen pavilions, our unique designs will keep the party going…</p>
      </div>
      <div>
        <img class="service-page-image" src="/pics/wall-bscapes.jpg" alt="outdoor-patio">
      </div>
      </div>
  </div>


</section>

<%-include("partials/footer")-%>
